{% extends 'base.html' %}
{% set title="Registration" %}
{% block body %}

{% if error %}
<div class="st-error">{{error}}</div>
{% else %}
<div style="display:none"></div>
{% endif %}


 <div class="col-md-4 col-md-offset-4">
        <div class="card">
              <div class="content">

              <div class="d-f-head"><span>Регистрация</span></div>

               <form action="/registration" method="post" accept-charset="utf-8"
               enctype="application/x-www-form-urlencoded">

                <div class="form-group">
                    <label for="exampleInputPassword2">Username</label>
                     <input type="text" name="username" class="form-control" id="exampleInputPassword2" placeholder="Username">
                </div>

                <div class="form-group">
                     <label for="exampleInputEmail1">Email address</label>
                     <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

                </div>
                 <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                 </div>
                <button type="submit" class="btn btn-success">Регистрация</button>
                <a href="/" class="btn btn-primary">Войти</a>

              </form>
             </div>
       </div>
</div>
   
{% endblock %}








